$fontStack: Chicago, Helvetica, Swiss, Verdana, sans-serif;
$fontSize: 12px;

$borderWidth: 1px;
$doubleBorder: 2 * $borderWidth;

$buttonHeight: 50px;


$ColorWhite: rgb(255,255,255);
$ColorBlack: rgb(0,0,0);
$ColorGrey: rgb(195, 195, 195);
$ColorMediumGrey: rgb(150, 150, 150);
$ColorDarkGrey: rgb(85, 85, 85);
$ColorDarkBlue: rgb(3, 17, 34);
$ColorShadow: rgb(8, 24, 57);
$ColorYellow: rgb(223, 223, 0);
$ColorOrange: rgb(234, 145, 0);
$ColorRed: rgb(191, 0, 2);
$ColorPASPDark: rgb(33, 49, 74);
$ColorPASPLight: rgb(41, 74, 107);


$Z_width:  640px;
$Z_height: 15px;

$A_width:  54px;
$A_height: 300px;

$B_width:  280px;
$B_height: $A_height;

$C_width:  $A_width + $B_width;
$C_height: 50px;

$E_width:  $C_width;
$E_height: 100px;

$Y_width:  $Z_width;
$Y_height: $Z_height;

$D_width:  246px;
$D_height: $A_height;

$G_width:  $D_width;
$G_height: $C_height + $E_height;

$F_width: $Z_width - $C_width - $D_width;
$F_height: $D_height + $G_height;




@mixin absoluteWidthHeight($w, $h) {
    width: $w;
    height: $h;
    max-width: $w;
    max-height: $h;    
}

@mixin generalPanel($w, $h) {
  background-color: $ColorDarkBlue;
  border: $borderWidth solid $ColorWhite;
  @include absoluteWidthHeight($w - $doubleBorder, $h - $doubleBorder);
}

body {
  background-color: red;
  }




@mixin borderTL($width, $style, $color) {
  border-top-width:  $width ;
  border-left-width: $width ;
  border-top-style:  $style ;
  border-left-style: $style ;
  border-top-color:  $color ;
  border-left-color: $color ;
}

@mixin borderBR($width, $style, $color) {
  border-bottom-width:  $width ;
  border-right-width: $width ;
  border-bottom-style:  $style ;
  border-right-style: $style ;
  border-bottom-color:  $color ;
  border-right-color: $color ;
}

div[data-role="button"] {
  
  font-size: $fontSize;
  background-color: $ColorDarkBlue;
  color: $ColorWhite;
  padding: 0px;
  display: table;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  
  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

}
  
div[data-role="button"][data-state="ButtonEnabled"] {
    
  @include borderTL($borderWidth, solid, $ColorBlack);
  @include borderBR($borderWidth, solid, $ColorShadow);
  
  div {
   @include borderBR($borderWidth, solid, $ColorBlack);
   @include borderTL($borderWidth, solid, $ColorShadow);

  }
    
}

div[data-role="button"][data-state="ButtonPressed"] {

  border: $borderWidth solid $ColorDarkBlue;

  div {
   @include borderTL($borderWidth, solid, $ColorBlack);
   @include borderBR($borderWidth, solid, $ColorShadow);

  }
    
}


div[data-role="button"][data-state="ButtonDisabled"] {

  color: $ColorDarkGrey;
  cursor: not-allowed;
  @include borderTL($borderWidth, solid, $ColorBlack);
  @include borderBR($borderWidth, solid, $ColorShadow);
  
  div {
   @include borderBR($borderWidth, solid, $ColorBlack);
   @include borderTL($borderWidth, solid, $ColorShadow);
   height: 100%
  }
    
}
  
.clean { clean: all; }

.leftSide {
  float: left;
  @include generalPanel($C_width, $A_height + $C_height + $E_height);
}

.topPart {
  @include generalPanel($Z_width, $Z_height);
}

.MenuWindow {
  float: left;
  font-family: $fontStack;
  @include generalPanel($D_width + $F_width, $F_height);
  
  .MenuTitle {
    $titleHeight: 24px;
    background-color: $ColorBlack;
    color: $ColorGrey;
    border: $borderWidth solid $ColorWhite;
    
    @include absoluteWidthHeight($D_width + $F_width - $doubleBorder - $borderWidth
                                ,$titleHeight - $doubleBorder -$borderWidth);
  }

  .MenuButtons {
    $buttonsWidth: $D_width + $F_width;
    
    width: $buttonsWidth - $doubleBorder;
    max-width: $buttonsWidth - $doubleBorder;

    $buttonWidth: 152px;
    
    position: absolute;
    top: $buttonHeight + $doubleBorder;
    
    div[data-role=button] {
      @include absoluteWidthHeight( $buttonWidth - $doubleBorder 
                                  , $buttonHeight - $doubleBorder);
      float: left;

    }

    .EmptyButton {      
      @include generalPanel( $buttonWidth - $doubleBorder
                           , $buttonHeight + $doubleBorder);
      border: 0px none $ColorDarkBlue;
      float: left;
    }
  }

  .MenuClose {
    @include absoluteWidthHeight (82px - $doubleBorder, $buttonHeight - $doubleBorder);
    position: absolute;
    top: 400px;
    
    div[data-role="button"] { width: 100%; height: 100%; font-size: 24px }      
  }

}





  
  
.InputField {
  background-color: $ColorDarkGrey;
  
  td {
    text-align: right;
  }
    
  label {
    color: $ColorGrey;
    padding-right: 10px;
  }
    
  input  {    
    color: $ColorGrey;
    background-color: $ColorDarkGrey;
    padding-left: 10px;
    }

  input:focus {
    color: $ColorBlack;    
    background-color: $ColorMediumGrey;
  }    
}

  
.InputField[data-state="DataAccepted"] {
  input {
    color: $ColorWhite;
    background-color: $ColorDarkGrey;
  }
}

  
.InputFields {
  margin: 0px;
  padding: 0px;

  $totalWidth: $D_width + $F_width - $doubleBorder;
  width: $totalWidth;
  background-color: $ColorDarkBlue;
  
  .InputField {

    td {
      border: $borderWidth solid $ColorMediumGrey;      
      border-right: none;

      label {
        width: 102px - $doubleBorder;
        height: 50px - $doubleBorder;
        }

      input {
        width: 202px - $doubleBorder;
        height: 50px - $doubleBorder;
        border: $borderWidth solid $ColorDarkGrey;      
      }

      input:focus {
        @include borderTL($borderWidth, solid, $ColorGrey);
        @include borderBR($borderWidth, solid, $ColorDarkGrey);      
      }
    }
  }
}
