$fontStack: Chicago, Helvetica, Swiss, Verdana, sans-serif;
$fontSize: 12px;

$borderWidth: 1px;
$doubleBorder: 2 * $borderWidth;

$buttonHeight: 50px;


$ColorWhite: rgb(255,255,255);
$ColorBlack: rgb(0,0,0);
$ColorGrey: rgb(195, 195, 195);
$ColorMediumGrey: rgb(150, 150, 150);
$ColorDarkGrey: rgb(85, 85, 85);
$ColorDarkBlue: rgb(3, 17, 34);
$ColorShadow: rgb(8, 24, 57);
$ColorYellow: rgb(223, 223, 0);
$ColorOrange: rgb(234, 145, 0);
$ColorRed: rgb(191, 0, 2);
$ColorPASPDark: rgb(33, 49, 74);
$ColorPASPLight: rgb(41, 74, 107);


$Z_width:  640px;
$Z_height: 15px;

$A_width:  54px;
$A_height: 300px;

$B_width:  280px;
$B_height: $A_height;

$C_width:  $A_width + $B_width;
$C_height: 50px;

$E_width:  $C_width;
$E_height: 100px;

$Y_width:  $Z_width;
$Y_height: $Z_height;

$D_width:  246px;
$D_height: $A_height;

$G_width:  $D_width;
$G_height: $C_height + $E_height;

$F_width: $Z_width - $C_width - $D_width;
$F_height: $D_height + $G_height;



.notSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clean { clean: all; }

  
@mixin absoluteWidthHeight($w, $h) {
    width: $w;
    height: $h;
    max-width: $w;
    max-height: $h;    
}

@mixin generalPanel($w, $h) {
  background-color: $ColorDarkBlue;
  @include absoluteWidthHeight($w,$h);
}



body {
  background-color: red;
  font-size: $fontSize;  
  font-family: $fontStack;
  line-height: 200%;
  color: $ColorGrey;
}




@mixin borderTL($width, $style, $color) {
  border-top-width:  $width ;
  border-left-width: $width ;
  border-top-style:  $style ;
  border-left-style: $style ;
  border-top-color:  $color ;
  border-left-color: $color ;
}

@mixin borderBR($width, $style, $color) {
  border-bottom-width:  $width ;
  border-right-width: $width ;
  border-bottom-style:  $style ;
  border-right-style: $style ;
  border-bottom-color:  $color ;
  border-right-color: $color ;
}

div[data-widget="Button"] {
  @extend .notSelectable;
    
  background-color: $ColorDarkBlue;
  padding: 0px;
  display: table;
  cursor: pointer;
  
  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

}


div[data-widget="Button"][data-state="ButtonEnabled"] {
    
  @include borderTL($borderWidth, solid, $ColorBlack);
  @include borderBR($borderWidth, solid, $ColorShadow);
  
  div {
   @include borderBR($borderWidth, solid, $ColorBlack);
   @include borderTL($borderWidth, solid, $ColorShadow);

  }
    
}

div[data-widget="Button"][data-state="ButtonPressed"] {

  border: $borderWidth solid $ColorDarkBlue;

  div {
   @include borderTL($borderWidth, solid, $ColorBlack);
   @include borderBR($borderWidth, solid, $ColorShadow);
  }
    
}


div[data-widget="Button"][data-state="ButtonDisabled"] {

  color: $ColorDarkGrey;
  cursor: not-allowed;
  @include borderTL($borderWidth, solid, $ColorBlack);
  @include borderBR($borderWidth, solid, $ColorShadow);
  
  div {
   @include borderBR($borderWidth, solid, $ColorBlack);
   @include borderTL($borderWidth, solid, $ColorShadow);
   height: 100%
  }
    
}


div[data-widget="WindowTitle"] {
  @extend .notSelectable;
  height: 24px;
  max-height: 24px;
  background-color: $ColorBlack;
  border: none;
  cursor: default;
}



.MenuWindow {
  float: left;

  background-color: $ColorDarkBlue;
  border: none;
  @include absoluteWidthHeight($D_width + $F_width, $F_height);
  
  div[data-widget="WindowTitle"] {
    $titleWidth: $D_width + $F_width;
    width: $titleWidth;
    max-width: $titleWidth;
  }

  div[data-widget="ButtonGroup"] {
    $buttonsWidth: $D_width + $F_width;
    
    width: $buttonsWidth - $doubleBorder;
    max-width: $buttonsWidth - $doubleBorder;

    $buttonWidth: 152px;
    
    position: absolute;
    top: $buttonHeight + $doubleBorder;
    
    div[data-widget=Button] {
      @include absoluteWidthHeight( $buttonWidth - $doubleBorder 
                                  , $buttonHeight - $doubleBorder);
      float: left;

    }

    .EmptyButton {      
      @include generalPanel( $buttonWidth - $doubleBorder
                           , $buttonHeight + $doubleBorder);
      border: 0px none $ColorDarkBlue;
      float: left;
    }
  }

  .MenuClose {
    @include absoluteWidthHeight (82px - $doubleBorder, $buttonHeight - $doubleBorder);
    position: absolute;
    top: 400px;
    
    div[data-widget="Button"] { width: 100%; height: 100%; font-size: 24px }      
  }

}





  
.leftSide {
  float: left;
  @include generalPanel($C_width, $A_height + $C_height + $E_height);
}

.topPart {
  @include generalPanel($Z_width, $Z_height);
}
