$fontStack: Chicago, Helvetica, Swiss, Verdana, sans-serif;
$fontSize: 12px;

$borderWidth: 1px;
$doubleBorder: 2 * $borderWidth;

$paddingWidth: 3px;

$buttonHeight: 50px;


$ColorWhite: rgb(255,255,255);
$ColorBlack: rgb(0,0,0);
$ColorGrey: rgb(195, 195, 195);
$ColorMediumGrey: rgb(150, 150, 150);
$ColorDarkGrey: rgb(85, 85, 85);
$ColorDarkBlue: rgb(3, 17, 34);
$ColorShadow: rgb(8, 24, 57);
$ColorYellow: rgb(223, 223, 0);
$ColorOrange: rgb(234, 145, 0);
$ColorRed: rgb(191, 0, 2);
$ColorPASPDark: rgb(33, 49, 74);
$ColorPASPLight: rgb(41, 74, 107);


$Z_width:  640px;
$Z_height: 15px;

$A_width:  54px;
$A_height: 300px;

$B_width:  280px;
$B_height: $A_height;

$C_width:  $A_width + $B_width;
$C_height: 50px;

$E_width:  $C_width;
$E_height: 100px;

$Y_width:  $Z_width;
$Y_height: $Z_height;

$D_width:  246px;
$D_height: $A_height;

$G_width:  $D_width;
$G_height: $C_height + $E_height;

$F_width: $Z_width - $C_width - $D_width;
$F_height: $D_height + $G_height;

@mixin borderTL($width, $style, $color) {
  border-top-width:  $width ;
  border-left-width: $width ;
  border-top-style:  $style ;
  border-left-style: $style ;
  border-top-color:  $color ;
  border-left-color: $color ;
}

@mixin borderBR($width, $style, $color) {
  border-bottom-width:  $width ;
  border-right-width: $width ;
  border-bottom-style:  $style ;
  border-right-style: $style ;
  border-bottom-color:  $color ;
  border-right-color: $color ;
}

.level1 {
  @include borderTL(1, solid, $ColorBlack);
  @include borderBR(1, solid, $ColorShadow);
}

.notSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textCenterMiddle {
  text-anchor: middle;
  dominant-baseline: central;
}
  
.clean { clean: all; }

html {
     height: 100%;
}

body {
  background-color: $ColorBlack;
  height: 100%;
  font-size: $fontSize;  
  font-family: $fontStack;
  line-height: 200%;
  color: $ColorGrey;
  stroke: $ColorGrey;
  fill: $ColorGrey;
  overflow: hidden;
}



#ABCE {
  display: flex;
  width: $A_width + $B_width;
  height: $B_height + $C_height + $E_height;
  
  #A {
    display: flex;
    width: $A_width;
    height: $A_height;    
  }
    
  #B {
    display: flex;
    width: $B_width;
    height: $B_height;    
  }

  #C {
    display: flex;
    width: $C_width;
    height: $C_height;
  }

  #E {
    display: flex;
    width: $E_width;
    height: $E_height;
  }
    
    
}


svg.SpeedDial {
  @extend .notSelectable;

  g.SpeedIndicatorNumbers {
    text {
      @extend .textCenterMiddle;

      font-size: 16px;
    }
  }

  g.DigitalSpeed {
    text {
      @extend .textCenterMiddle;      
      font-size: 18px;
    }
  }
  
}




  
